
/* BG */

	body.is-preload #bg:before {
		background-color: transparent;
	}

/* Header */

	body.is-preload #one-header {
		-moz-filter: none;
		-webkit-filter: none;
		-ms-filter: none;
		filter: none;
	}

		body.is-preload #one-header > * {
			opacity: 1;
		}

		body.is-preload #one-header .content .inland {
			max-height: none;
			padding: 3rem 2rem;
			opacity: 1;
		}

/* Main */

	#base article {
		opacity: 1;
		margin: 4rem 0 0 0;
	}